@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


/* Customize the track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background:transparent ;

}

/* Customize the handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb{
  background: whitesmoke;
  border-radius: 10px;

}

/* Customize the handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* styles/globals.css */
.scrollbar-track {
  background: #f0f0f0; /* Track color */
}

.scrollbar-thumb {
  background: green; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

.scrollbar-thumb:hover {
  background: red; /* Thumb color on hover */
}




